#slider {
    margin: 10px 0 20px 0;
    width: 100%;
    height: 210px;
    padding: 10px 30px;
    overflow: hidden;
}

#slider ul {
    width: 300%;
    display: flex;
    animation: change 15s infinite alternate;

}

#slider li {
    width: 100%;
    list-style: none;
    padding: 0 30px;
}

#slider p {
    color: var(--red-wine);
    background-color: rgba(217, 177, 173, 80%);
    border-radius: 10px;
    font-family: 'delius';
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding: 8px;
    width: 150px;
    position: relative;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, -50%);
}

#slider img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

@keyframes change {

    0%,
    30% {
        margin-left: 0;
    }

    35%,
    65% {
        margin-left: -100%;
    }

    70%,
    100% {
        margin-left: -200%;
    }
}

.button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn-order {
    text-decoration: none;
    border: 0.5px solid var(--red-wine);
    color: var(--black-rose);
    border-radius: 50px;
    font-family: 'delius';
    font-weight: bolder;
    padding: 10px;
    background-color: var(--dark-beige);
    box-shadow: 0px 8px 10px rgb(00, 00, 00, 30%);
}

/*Resolucion tablet*/
@media screen and (min-width:768px) {

    #slider {
        height: 410px;
    }

    #slider img {
        height: 550px;
    }

    #slider p {
        width: 230px;
        left: 50%;
        bottom: 190px;
    }

    .btn-order {
        margin-bottom: 50px;
    }

}

/*Resolucion medias*/
@media screen and (min-width:1024px) {

    #slider {
        height: 510px;
    }

    #slider img {
        height: 700px;
    }

    #slider p {
        bottom: 250px;
    }

    .btn-order button {
        padding: 20px;
        font-size: 22px;
    }

}

/*Resolucion macro*/
@media screen and (min-width:1200px) {

    #slider {
        height: 610px;
    }

    #slider img {
        height: 800px;
    }

    #slider p {
        width: 260px;
        font-size: 30px;
    }

}