@font-face{
  font-family: 'nesans';
  src: url(./assets/fonts/NesansSemiBold.ttf);
}
@font-face{
  font-family: 'breadley';
  src: url(./assets/fonts/BreadleySans-Regular.ttf);
}

@font-face{
  font-family: 'delius';
  src: url(./assets/fonts/Delius-Regular.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --red-wine: #731627;
  --pink-stick: #D9B1AD;
  --white: #F6F5EE;
  --dark-beige:#BF9775;
  --golden: #AF8738;
  --cream: #F0ECDE;
  --black-rose:#2B0D16;
  --light-red-wine: rgba(141,22,65,40%);
  --beby-pink: #FACCC7;
}
body{
  font-size: 16px;
  width: 100%;
}

